.btn-success:hover{
    background-color: rgb(122, 29, 29) !important;
}

body{
    background-color: darkcyan !important;
    color: aquamarine !important;
}

canvas{
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    background-color: white;
    border-radius: 50px;
}

@keyframes example{
    from{box-shadow: 5px 5px 38px rgb(0, 191, 255)}
    to{box-shadow: 5px 5px 38px blue;}
}